<h1>Exhibitions</h1>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-3" *ngFor="let exhibition of exhibitions">
          <button (click)="displayDetail(exhibition.name)" type="button" class="btn btn-dark">{{ exhibition.name }}</button>
         </div>
        </div>
      </div>
    </div>
  </div>
<div id="detail"></div>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-3" *ngFor="let exhibition of exhibitions">
          <div class="card p-2">
            <div class="card-body">
              <h5 class="card-title">{{ exhibition.name }}</h5>
                <p class="card-text card-description">{{ exhibition.description }}</p>
            </div>
         </div>
        </div>
      </div>
    </div>
  </div>
</div>
