<h1 i18n>Exhibitions</h1>

<div class="container-fluid">
  <div class="row text-center">
    <div class="col-md-12">
      <div *ngIf="exhibitions.length == 0">
      <p i18n>This museum has no exhibitions.</p>
      </div>
        <div class="row" *ngFor="let exhibition of exhibitions">
          <button (click)="displayDetail(exhibition.name)" type="button" id="{{ exhibition.name }}" class="btn btn-dark btn-block">{{ exhibition.name }}</button>
        </div>
        </div>
    </div>
  </div>

<div *ngIf="selected">
  <app-exhibition-detail [name] = "currentName" [description]="currentDescription" [sponsorName]="currentSponsorName" [sponsorDescription] = "currentSponsorDescription" [sponsorWebsite]="currentSponsorWebsite"></app-exhibition-detail>
</div>
