<div class="container mt-4">
  <h1 i18n class="text-center">Create a new artist</h1>
  <form
    [formGroup]="artistForm"
    (ngSubmit)="!artistForm.invalid && createArtist(artistForm.value)"
  >
    <!--Name-->
    <div class="form-group mx-sm-3 mb-2">
      <label i18n for="name">Name</label>
      <input
        novalidate
        id="name"
        class="form-control"
        formControlName="name"
        placeholder="Artist's full name" i18n-placeholder
      />
      <div i18n
        class="alert alert-danger alert-dismissible fade show"
        *ngIf="
          artistForm.get('name')!.hasError('required') &&
          artistForm.get('name')!.touched
        "
      >
        Name required
      </div>
      <div i18n
        class="alert alert-danger alert-dismissible fade show"
        *ngIf="artistForm.get('name')!.hasError('minlength')"
      >
        Name too short
      </div>
    </div>

    <!--birthplace-->
    <div class="form-group mx-sm-3 mb-2">
      <label i18n for="birthplace">Birthplace</label>
      <input
        novalidate
        id="birthplace"
        class="form-control"
        formControlName="birthplace"
        placeholder="Artist's birthplace" i18n-placeholder
      />
      <div i18n
        class="alert alert-danger alert-dismissible fade show"
        *ngIf="
          artistForm.get('birthplace')!.hasError('required') &&
          artistForm.get('birthplace')!.touched
        "
      >
        Birthplace required
      </div>
    </div>

    <!--birthdate-->
    <div class="form-group mx-sm-3 mb-2">
      <label i18n for="birthdate">Birth Date</label>
      <input
        novalidate
        id="birthdate"
        class="form-control"
        formControlName="birthdate"
        placeholder="YYYY-MM-DD" i18n-placeholder
      />
      <div i18n
        class="alert alert-danger alert-dismissible fade show"
        *ngIf="
          artistForm.get('birthdate')!.hasError('required') &&
          artistForm.get('birthdate')!.touched
        "
      >
        Birth date required
      </div>
      <div i18n
        class="alert alert-danger alert-dismissible fade show"
        *ngIf="artistForm.get('birthdate')!.hasError('minlength') || artistForm.get('birthdate')!.hasError('maxlength')"
      >
        Please enter the birth date using the format "YYYY-MM-DD"
      </div>
    </div>
    <!--related movements-->
    <div class="form-group mx-sm-3 mb-2 exhibition-selector__dropdown">
      <label for="movements" i18n>Related Artistic Movements</label>
      <select
          id="movements"
          class="form-control"
          formControlName="movements"
          multiple>
          <option *ngFor="let movement of movements" [ngValue]="movement">
            {{ movement.name }}
          </option>
        </select>
    </div>

    <button i18n
      type="submit"
      class="btn btn-primary"
      [disabled]="!artistForm.valid"
    >
      Create
    </button>
    <button i18n
      type="button"
      class="btn btn-danger ml-3"
      (click)="cancelCreation()"
    >
      Cancel
    </button>
  </form>
 </div>
