<div class="card" *ngIf="description || name">
  <div class="card-body">
    <h5 class="card-title">{{ name }}</h5>
    <p class="card-text">{{ description }}</p>
  </div>
  <ul class="list-group list-group-flush">
    <li i18n class="list-group-item" id="patrocinadores">Patrocinado por</li>
    <li class="list-group-item" id="sponsorName">{{sponsorName}}</li>
    <li class="list-group-item">{{sponsorDescription}}</li>
  </ul>
  <div class="card-body">
    <a i18n href="{{sponsorWebsite}}" class="btn btn-dark">Visita su sitio web</a>
  </div>
</div>
