.card {
  background-color: white;
}

.card h5 {
  color: #3C1642;
}

#patrocinadores {
  color: #3C1642;
  font-weight: bold;
}

#sponsorName {
  color: #237985;
  font-weight: bold;
}

.btn-dark{
  background-color: #237985;
  color: white;
}
