<div class="container mt-4">
  <h2 class="text-center" i18n>Create a new movement</h2>
  <form
    [formGroup]="movementForm"
    (ngSubmit)="!movementForm.invalid && createMovement(movementForm.value)"
  >
    <!--Name-->
    <div class="form-group mx-sm-3 mb-2">
      <label for="name" i18n>Name</label>
      <input
      i18n-placeholder
        novalidate
        id="name"
        class="form-control"
        formControlName="name"
        placeholder="Movement's name"
      />
      <div
      i18n
        class="alert alert-danger alert-dismissible fade show"
        *ngIf="
        movementForm.get('name')!.hasError('required') &&
        movementForm.get('name')!.touched
        "
      >
        Name required
      </div>
      <div
      i18n
        class="alert alert-danger alert-dismissible fade show"
        *ngIf="movementForm.get('name')!.hasError('minlength')"
      >
        Name too short
      </div>
    </div>

    <!--country of origin-->
    <div class="form-group mx-sm-3 mb-2">
      <label for="countryOfOrigin" i18n>Country of origin</label>
      <input
      i18n-placeholder
        novalidate
        id="countryOfOrigin"
        class="form-control"
        formControlName="countryOfOrigin"
        placeholder="Movement's Country of origin"
      />
      <div
      i18n
        class="alert alert-danger alert-dismissible fade show"
        *ngIf="
        movementForm.get('countryOfOrigin')!.hasError('required') &&
        movementForm.get('countryOfOrigin')!.touched
        "
      >
        Country of origin required
      </div>
      <div
      i18n
        class="alert alert-danger alert-dismissible fade show"
        *ngIf="movementForm.get('countryOfOrigin')!.hasError('minlength')"
      >
       Country of origin  too short
      </div>
    </div>


    <!--Description-->
    <div class="form-group mx-sm-3 mb-2">
      <label for="description" i18n>Description</label>
      <input
      i18n-placeholder
        novalidate
        id="description"
        class="form-control"
        formControlName="description"
        placeholder="Movement's short description"
      />
      <div
      i18n
        class="alert alert-danger alert-dismissible fade show"
        *ngIf="
        movementForm.get('description')!.hasError('required') &&
        movementForm.get('description')!.touched
        "
      >
        Description required
      </div>
      <div
      i18n
        class="alert alert-danger alert-dismissible fade show"
        *ngIf="movementForm.get('description')!.hasError('maxlength')"
      >
        Description too long
      </div>
    </div>


    <button
    i18n
      type="submit"
      class="btn btn-primary"
      [disabled]="!movementForm.valid"
    >
      Create
    </button>
    <button
    i18n
      type="button"
      class="btn btn-danger ml-3"
      (click)="cancelCreation()"
    >
      Cancel
    </button>
  </form>
 </div>
