<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">

      <div class="detail_box__container" *ngIf="museumDetail">
          <div class="detail_box">
            <div class="image__container">
              <img *ngIf="museumDetail.image"
                class="card-img-center"
                alt="{{ museumDetail.image.altText }}"
                [attr.src]="museumDetail.image.source"
                [style.--width]="museumDetail.image.width" [style.--height]="museumDetail.image.height"
              />
            </div>

            <div class="data__container">
              <h1 class="card-title">{{ museumDetail.name }}</h1>
              <p class="card-text">{{ museumDetail.description }}</p>
              <p class="card-text">{{ museumDetail.city }}</p>
              <p class="card-text">{{ museumDetail.address }}</p>
              <div class="d-flex justify-content-around" >
                <p href="#" class="btn btn-primary">Exhibiciones</p>
                <p href="#" class="btn btn-primary" (click)="getArworksList(museumDetail)">Obras de arte</p>
              </div>

            </div>

          </div>


      </div>

    </div>
  </div>

</div>


<!-- <div *ngIf="selectedArtworksButton == true">
    <app-artwork-list [museum]="museumDetail"></app-artwork-list>
</div> -->

<div *ngIf="selectedMuseum !== undefined && selectedMuseum === museumDetail">
  <app-artwork-list [museum]="museumDetail"></app-artwork-list>
</div>


