<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <h1>Artworks</h1>
      <div class="row text-center">
        <div class="col-md-3" *ngFor="let artwork of artworks | paginate: { itemsPerPage: 4, currentPage: page, id: 'artworks'}">
          <div class="card p-2">
            <div class="card-top">
              <img
              class="card-img-center"
              alt="{{ artwork.images[0].altText }}"
              [attr.src]="artwork.images[0].source"
              (error)="pictNotLoading($event)"
              [style.--width]="artwork.images[0].width" [style.--height]="artwork.images[0].height"
              (click)="onSelected(artwork)"
              />
            </div>

            <div class="card-body">
              <h5 class="card-title">{{ artwork.name }}</h5>
            </div>
         </div>
        </div>
      </div>
      <pagination-controls (pageChange)="page = $event" id="artworks" previousLabel="Anterior"
      nextLabel="Siguiente"
      screenReaderPaginationLabel="Paginación"
      screenReaderPageLabel="Página"
      screenReaderCurrentLabel="Estás en la página">
    </pagination-controls>
    </div>
  </div>
</div>


<div *ngIf="selected">
  <app-artwork-detail [artworkDetail]="selectedArtwork"></app-artwork-detail>
</div>
