<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <h1>Listado de Museos</h1>
      <div class="row text-center">
        <div class="col-md-3" *ngFor="let museum of museums | paginate: { itemsPerPage: 4, currentPage: p, id: 'museums'}" id="{{museum.name}}">
          <div class="card p-2 h-100" (click)="onSelected(museum)" >
            <div class="card-top">
              <img
              class="card-img-center"
              alt="{{ museum.image.altText }}"
              [attr.src]="museum.image.source"
              [style.--width]="museum.image.width" [style.--height]="museum.image.height"
              />
            </div>

            <div class="card-body">
              <h2 class="card-title">{{ museum.name }}</h2>
            </div>
         </div>
        </div>
      </div>
      <pagination-controls (pageChange)="p= $event" id="museums" previousLabel="Anterior"
      nextLabel="Siguiente"
      screenReaderPaginationLabel="Paginación"
      screenReaderPageLabel="Página"
      screenReaderCurrentLabel="Estás en la página">
    </pagination-controls>
    </div>
  </div>
</div>


<div *ngIf="selected == true">
  <app-museum-detail [museumDetail]="selectedMuseum"></app-museum-detail>
</div>
