<nav class="navbar navbar-expand-lg navbar-custom">
  <div class="container-fluid">
    <a i18n class="navbar-brand" href="#" [routerLink]="['/museums']">Explore Museums</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a i18n class="nav-link active" aria-current="page" [routerLink]="['/museums']">Home</a>
        </li>
        <li class="nav-item">
          <a i18n class="nav-link active" [routerLink]="['/artworks/list']">Explore Artworks</a>
        </li>
        <li class="nav-item dropdown">
          <a i18n class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          Create
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a i18n class="dropdown-item" aria-current="page" [routerLink]="['/movement/create']">Create Movement</a></li>
            <li><a i18n class="dropdown-item" [routerLink]="['/artworks/create']">Create Artwork</a></li>
            <li><a i18n class="dropdown-item" [routerLink]="['/exhibitions/create']">Create Exhibition</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a i18n class="nav-link active" href="https://github.com/MISW-4104-Web/MISW4104_202215_Equipo21">Contact</a>
        </li>
      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Buscar Museos" aria-label="Buscar Museos">
        <button i18n class="btn btn-outline-success" type="button">Search</button>
      </form>
    </div>
  </div>
</nav>

<main>
  <div class="container-fluid" id="principal">
    <div class="row">
      <div class="col-md-12">
        <div>
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </div>
</main>
