.artist-selector__dropdown {
  display: flex;
  flex-direction: column;
}

.artist-selector__dropdown select {
  margin-bottom: 1rem;
  width: 50%;
  height: 30px;
}

.btn-primary{
  background-color: #237985;
  color: white;
}

.btn-danger{
  background-color: #81394d;
  color: white;
}
