<div class="container mt-4">
 <h2 class="text-center">Create a new artwork</h2>
 <form
   [formGroup]="artworkForm"
   (ngSubmit)="!artworkForm.invalid && createArtwork(artworkForm.value)"
 >
   <!--Name-->
   <div class="form-group mx-sm-3 mb-2">
     <label for="name">Name</label>
     <input
       novalidate
       id="name"
       class="form-control"
       formControlName="name"
       placeholder="Artwork's name"
     />
     <div
       class="alert alert-danger alert-dismissible fade show"
       *ngIf="
       artworkForm.get('name')!.hasError('required') &&
       artworkForm.get('name')!.touched
       "
     >
       Name required
     </div>
     <div
       class="alert alert-danger alert-dismissible fade show"
       *ngIf="artworkForm.get('name')!.hasError('minlength')"
     >
       Name too short
     </div>
   </div>

   <!--year-->
   <div class="form-group mx-sm-3 mb-2">
     <label for="year">Year</label>
     <input
       novalidate
       id="year"
       class="form-control"
       formControlName="year"
       placeholder="Artwork's year"
       type="number"
     />
     <div
       class="alert alert-danger alert-dismissible fade show"
       *ngIf="
       artworkForm.get('year')!.hasError('required') &&
       artworkForm.get('year')!.touched
       "
     >
        Year required
     </div>
   </div>

   <!--type-->
   <div class="form-group mx-sm-3 mb-2">
     <label for="type">Type</label>
     <input
       novalidate
       id="type"
       class="form-control"
       formControlName="type"
       placeholder="Artwork's type"
     />
     <div
       class="alert alert-danger alert-dismissible fade show"
       *ngIf="
       artworkForm.get('type')!.hasError('required') &&
       artworkForm.get('type')!.touched
       "
     >
       Type required
     </div>
   </div>

   <!--Description-->
   <div class="form-group mx-sm-3 mb-2">
     <label for="description">Description</label>
     <input
       novalidate
       id="description"
       class="form-control"
       formControlName="description"
       placeholder="Artwork's short description"
     />
     <div
       class="alert alert-danger alert-dismissible fade show"
       *ngIf="
       artworkForm.get('description')!.hasError('required') &&
       artworkForm.get('description')!.touched
       "
     >
       Description required
     </div>
     <div
       class="alert alert-danger alert-dismissible fade show"
       *ngIf="artworkForm.get('description')!.hasError('maxlength')"
     >
       Description too long
     </div>
   </div>

    <!--Artist-->
    <div class="form-group mx-sm-3 mb-2">
    <select
          class="custom-select mb-3"
          formControlName="artist"
        >
        <option value="">Choose artist</option>
          <option *ngFor="let artist of artists" [ngValue]="artist">
            {{ artist.name }}
          </option>
    </select>
    </div>


   <button
     type="submit"
     class="btn btn-primary"
     [disabled]="!artworkForm.valid"
   >
     Create
   </button>
   <button
     type="button"
     class="btn btn-danger ml-3"
     (click)="cancelCreation()"
   >
     Cancel
   </button>
 </form>
</div>
