/* You can add global styles to this file, and also import other style files */
.navbar-custom {
  background-color: #3C1642;
}

.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
  color: white;
}

nav .navbar-nav li a{
color: white !important;
}
.active{
  color: red!important
}


pagination-controls {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
  margin-bottom: 15px;
}

li.current {
  background: black !important;
  color: white;
  border-radius: 4px;
}

